$text-gray: #8d8e95;
$text-brown: #9c5f4c;
$text-black: #1d1f2e;

.item {
  width: 460px;
  height: 650px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  .item-pic {
    width: 450px;
    height: 540px;
    position: relative;
    margin-bottom: 20px;
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      transition: 0.2s ease-in-out;
    }
    a {
      text-decoration: none;
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      position: absolute;
      bottom: 30px;
      left: 0;
      text-align: center;
      p {
        bottom: 40px;
        margin: 105% 15px 0;
        padding: 15px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: black;
        background-color: white;
        opacity: 0;
        transition: 0.2s ease-in-out;
      }
    }
    h1 {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 600;
      color: $text-brown;
      background-color: whitesmoke;
      &.nsale {
        display: none;
      }
    }
    &:hover {
      a {
        p {
          opacity: 1;
          transform: translateY(-10px);
        }
      }
    }
  }
  h1 {
    font-size: 20px;
    font-weight: 400;
    color: $text-black;
  }
  span {
    font-size: 16px;
    color: $text-gray;
  }
  .sale {
    span:nth-child(1) {
      color: $text-brown;
      font-size: 20px;
      font-weight: 600;
      margin-right: 10px;
    }
    span:nth-child(2) {
      text-decoration: line-through;
      opacity: 0.7;
    }
  }
  .nsale {
    span:nth-child(1) {
      display: none;
    }
  }
}
